{% extends 'base.html' %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
		
		<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title">Erreur</h3>
			  </div>
			  <div class="panel-body">
			    Accès interdit
			  </div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}